.button {
  align-items: center;
  padding: 10px 28px;
  border: none;
  border-radius: 20px;
  font-weight: 800;
  letter-spacing: 3px;
}

.primary {
  background-color: rgb(26, 150, 150);
  color: #fff;
  
}
.primary:hover {
  background-color: rgb(3, 102, 102);
}

.secondary {
  background-color: rgba(160, 155, 155, 0.411);
  color: rgb(85, 79, 79);
}

.nursery {
  background-color: rgba(2, 2, 2, 0.411);
  color: rgb(252, 249, 249);
}
svg {
  color: rgb(4, 117, 117);
  position: absolute;
  margin: -19px -55px;
}

@media screen and (max-width: 760px) {
  .secondary{
    width: 10px ;
    color: #fff;
    background-color: #fff;
  }
  .book{
    margin-top: -19px; 
  } 
}
