.times {
  display: flex;
  justify-content: space-between;
  
}
.fatimes{
  margin: 20px -25px;
  margin-left: 5px;
  position: relative;
}
.final {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
  padding: 2rem;
  width: 30rem;
  position: fixed;
  z-index: 11;
  height: 540px;
  top: 60px;
  left: calc(50% - 15rem);
  overflow: scroll;
}
.lis {
  display: grid;
  height: 100%;
  width: 400px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(202, 198, 198);
  list-style: none;
  margin-bottom: 20px;
}
.lis input{
  font-size: 20px;
 
}
.lis:nth-child(6) {
  opacity: 0.4;
}

.final h3 p {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(95, 94, 94);
}
input {
  margin: 10px;
  margin-bottom: 3.8rem;
}
span {
  color: rgb(3, 238, 238);
  font-size: 12.3px;
  margin-left: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section {
  font-size: 12.3px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contents {
  margin: -16px 10px;
  margin-bottom: 10px;
}
.head .paragraph {
  font-size: 12px;
}
.heads {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 20px;
}
.paragraph {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 78, 78);
}


.cyberpunk {
  appearance: none;
  width: 25px;
  height: 17px;
  border: 1px solid #050505;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk:before {
  content: "";
  background-color: #032727;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

.cyberpunk:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunklabel {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

/* radio selection styling */

.radiobuttonscontainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radiobutton {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}

 

/* Edit styles */
.edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns{
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.clicks{
  display: flex;
  
}
input{
  width: 50px;
  height: 20px;
}
@media screen and (max-width: 760px) {
  .final {
    width: 21rem;
    height: 500px;
    border-radius: 10px;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: calc(50% - 10.4rem);
  }
  .cyberpunk{
    width: 37px;
    height: 15px;
  }
  .lis {
    /* margin-left: 0.2rem; */
    margin-bottom: 25px;
    width: 270px;
    height: 170px;
    top: 0;
  }
  .lis:nth-child(3) {
    height: 110px;
  }
  .fatimes {
    margin-top: 33px;
    /* margin: 5px 0; */
  }
  .heads {
    display: grid;
    margin-bottom: 15px;
  }
  .heads div {
    top: 4.7rem;
    position: relative;
  }
  input{
    margin-bottom: 90px;
  }
  .contents{
    margin: 10px 12px;
  }
  .contents .paragraph {
    bottom: 11px;
    font-weight: 540;
    position: relative;
    font-size: 12px;
  }
}



