.times {
  display: flex;
  justify-content: space-between;
  
}
.fatimes{
  margin: 20px -25px;
  margin-left: 5px;
  position: relative;
}
.final {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
  padding: 2rem;
  width: 30rem;
  z-index: 11;
  position: fixed;
  top: 30px;
  left: calc(50% - 15rem);
}
.lis {
  display: flex;
  height: 90px;
  width: 400px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(202, 198, 198);
  list-style: none;
  margin-bottom: 20px;
}
.lis:nth-child(6) {
  opacity: 0.4;
}

.final h3 p {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(95, 94, 94);
}
input {
  margin: 10px;
  margin-bottom: 3.8rem;
}
span {
  color: rgb(3, 238, 238);
  font-size: 12.3px;
  margin-left: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section {
  font-size: 12.3px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contents {
  padding: 10px;
}
.head .paragraph {
  font-size: 12px;
}
.heads {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 20px;
}
.paragraph {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 78, 78);
}

@media screen and (max-width: 760px) {
  .final {
    width: 20rem;
    height: 100%;
    top: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    left: calc(50% - 10rem);
  }
  .lis {
    margin-left: 1.5rem;
    margin-bottom: 7px;
    width: 230px;
    height: 135px;
  }
  .lis:nth-child(3) {
    height: 110px;
  }
  .fatimes {
    margin-top: 33px;
    /* margin: 5px 0; */
  }
  .heads {
    display: grid;
  }
  .heads div {
    top: 4rem;
    position: relative;
  }
  .contents .paragraph {
    bottom: 9px;
    position: relative;
  }
}
